/***************
GENERAL
***************/

* {
    box-sizing: border-box;
}

img {
  max-width: 100%;  
}



/***************
WRAPPER
***************/

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}



/***************
GALLERY
***************/

.gallery {
	padding: 5px;
	margin: 5%;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {

.gallery li {
	flex: 0 40%;
  margin: 2.5%;
}

}

@media screen and (min-width: 1024px) {

.gallery li {
  flex: 1 28.333%;
  margin: 2.5%;
}

}


.gallery p {
  text-align: center;
  padding-top: 20px;
}


