/***************
FOOTER
***************/

#foot {
  clear: both;
  padding: $primary_space;
  margin: $primary_space;
}

.foot-name {
  float: left;
  margin-top: $secondary_space
}

.top a {
  display: flex;
  justify-content: flex-end;
  padding: $primary_space;
  margin: $primary_space;
  margin-top: -2px;
}

.phone a,
.mail a {
  padding: $primary_space * 2;
}

.foot-nav {
  display: none;
}


@media screen and (min-width: 768px) {

footer {
  border-top: 2px solid grey;
}

.foot-nav {
	display: flex;
  
  justify-content: flex-end;
  padding: $primary_space;
  margin: $primary_space;
  margin-top: $secondary_space;
}

.foot-nav {

  li {
    margin: $primary_space * 3;
} 
  a {
    padding: $primary_space * 2;
}

}

.top {
	display: none;
}

.foot-name {
	display: block;
	float: left;
	padding-left: 0;
	margin-top: $secondary_space;
}

#contact {
  padding-bottom: $secondary_space;
}

}


@media screen and (min-width: 1024px) {

footer {
  border-top: hidden;
}

}
