/***************
HEADER
***************/

.header {
  padding: 2.5%;
  background: -webkit-linear-gradient(#b3ffff, #fff);
  background: -o-linear-gradient(#b3ffff, #fff);
  background: linear-gradient(#b3ffff, #fff);
}


.intro {
  padding: 40px;
}


@media screen and (min-width: 768px) {

.header {
  background: $white;
}

.intro {
  display: flex;
  justify-content: flex-start;
}

}


@media screen and (min-width: 1024px) {

.intro {
  margin-top: 40px;
}

}



/***************
NAV
***************/

.nav {
  text-align: center;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.nav li {
  margin: 15px;
}

.nav li a {
  padding: 10px;
}


@media screen and (min-width: 768px) {


.nav {
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid grey;
}

}


@media screen and (min-width: 1024px) {

.name {
  float: left;
  margin-top: 9px;
}

.nav {
  align-content: space-around;
  justify-content: flex-end;
  border-bottom: hidden;
}

}



