/***************
GENERAL
***************/

p {
	font-family: $primary_font;
	font-size: $primary_size;
	color: $black;
	@include center;
  padding: 10px 5%;
}

a {
  text-decoration: none;
  color: $black;
  font-weight: bold;
}

ul {
  list-style-type: none;
}


h1 {
  @include center;
  font-family: $secondary_font;
  font-size: $primary_size * 2;
}

h2 {
	font-family: $tertiary_font;
	font-size: $primary_size * 1.4;
	font-weight: 900;
	@include center;
	padding: 5px 0;
}



/***************
EXPERIENCE
***************/

#experience {
  padding: $primary_space;
  margin: $primary_space;
}

#experience h2 {
	@extend #experience;
}



/***************
CONTACT
***************/

#contact {
  padding: $primary_space;
  margin: $primary_space;
}

#contact h2 {
	@extend #contact;
}


