/***************
FONT
***************/

$primary_font: 'Open Sans', sans-serif;
$secondary_font: 'Lobster', sans-serif;
$tertiary_font: 'Lato', sans-serif;
$primary_size: 1em;



/***************
COLOR
***************/

$black: #000;
$white: #fff;
$light_blue: #b3ffff;



/***************
SPACES
***************/

$primary_space: 5px;
$secondary_space: 20px;